.myIcon {
    fill: black;
}

.contactInfo {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0;
    gap: 10px;
   
}

ul {
    list-style: none;
}

.contactItem {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.contactInfo li p {
    color: black;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 5px;
}

.contactButton {
    display: flex;
    padding: 5px;
    border: 1px solid rgb(116, 114, 114);
    border-radius: 5%;
}

.contactButton:hover {
    border-color: black;
    background-color: rgb(238, 233, 233);
}